@import 'variables';


body {
  font-family: 'Montserrat', sans-serif;
}
.page {
  padding-top: 100px;
  padding-bottom: 100px;
  @include breackpoint(sn) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &-light {
    background-color: $light;
  }
  &-dark {
    background-color: $dark;
  }
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}
nav {
  @include breackpoint(lg) {
    display: none;
  }
}
.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  @include breackpoint(lg) {
    display: none;
  }
  &-item {
    margin-right: 52px;
  }
  &-link {
    color: $dark;
    text-decoration: none;
  }
  &-info {
    .nav-item {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}
.cart {
  background-image: url("img/shopping-cart-icon-vector-illustration-700-81906887.jpg");
  padding-left: 50px;
  display: block;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  &-count {
    background-color: $accent;
    //background-image: url("img/shopping-cart-icon-vector-illustration-700-81906887-bg.jpg");
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 15px;
    display: block;
  }
}
.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}
.btn {
  background-color: $accent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  //display: block;
  padding: 18px 28px;
  &-btn-xs {
    padding: 5px 28px;
  }
  &-center {
    display: block;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    span {
      margin-right: 15px;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  @include breackpoint(lg) {
    flex-wrap: wrap;
  }
  &-item {
    flex: 0 0 50%;
    @include breackpoint(lg) {
      flex: 0 0 100%;
    }
  }
  .sale {
    @include breackpoint(lg) {
      text-align: center;
    }
    &-description {
      font-size: 30px;
      letter-spacing: -0.6px;
      @include breackpoint(sn) {
        font-size: 20px;
      }
    }
    &-title {
      font-size: 30px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 60px;
      @include breackpoint(sn) {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 45px;
      }
    }
  }
}
.box {
  @include breackpoint(lg) {
    max-width: 600px;
     margin: 50px auto 0;
  }
  position: relative;
  &-price {
    position: absolute;
    right: 0;
    top: 35px;
    text-align: right;
    &-old {
      font-size: 24px;
      font-weight: 700;
    }
    &-new {
      font-size: 24px;
      font-weight: 700;
      color: $important;
    }
  }
  &-image {
    width: 100%;
  }
}

.notice {
  text-align: center;
  color: #fff;
  padding: 40px 0 42px;
  &-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    @include breackpoint(sn) {
      font-size: 18px;
    }
    span {
      font-weight: 700;
    }
  }
  &-description {
    font-size: 21px;
  }
}
.collection {
  display: flex;
  justify-content: space-between;
  @include breackpoint(lg) {
    flex-wrap: wrap;
  }
  &-item {
    flex: 0 0 50%;
    padding: 43px 0 63px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) bottom;
    background-size: 190px 171px;
    @include breackpoint(lg) {
      flex: 0 0 100%;
    }
  }
  &-man {
    background-image: url("img/man.png");
  }
  &-woman {
    background-image: url("img/woman.png");
  }
  &-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &-description {
    font-size: 16px;
    margin-bottom: 43px;
  }
}
.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  @include breackpoint(lg) {
    flex-wrap: wrap;
  }
  &-item {
    flex: 0 0 24%;
    @include breackpoint(lg) {
      flex-wrap: wrap;
      flex: 0 0 49%;
      margin-bottom: 20px;
    }
  }
  &-image {
    width: 180px;
    height: 200px;
  }
  &-title {
    font-weight: 600;
  }
  &-price {
    color: $accent;
    font-size: 18px;
    font-weight: 700;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  @include breackpoint(lg) {
    flex-direction: column;
    text-align: left;
  }
  &-link {
    color: $dark;
    text-decoration: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  @include breackpoint(lg) {
    flex-wrap: wrap;
  }
  &-logo {
    flex: 0 0 40%;
    @include breackpoint(lg) {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
  &-nav {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    @include breackpoint(lg) {
      flex: 0 0 100%;
    }
    @include breackpoint(sm) {
      flex-wrap: wrap;
    }
  }
  &-list {
    list-style-type: none;
    padding-left: 0;
    @include breackpoint(sm) {
      flex: 0 0 49%;
      margin-bottom: 20px;
    }
    &-title {
      font-size: 10px;
      font-weight: 700;
    }
    &-item {
      margin-bottom: 10px;
    }
    &-link {
      color: $gray;
      text-decoration: none;
      font-size: 14px;

    }
  }
}





.nav-bar {
  position: absolute;
  background-color: $accent;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.toggle-menu {
  background-color: $dark;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 7px 12px;
  cursor: pointer;
  @include breackpoint(minlg) {
    display: none;
  }
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: white;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  text-align: center;
  padding: 10px 0;
}

.nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}